<!-- Footer -->
<footer class="page-footer font-small unique-color-dark">

  <div class="bg-footer-up">
    <div class="container">
      <!-- Grid row-->
      <div class="row py-2 d-flex align-items-center">
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0 font-weight-bold">Keep connected with me on social networks!</h6>
        </div>

        <div class="social col-md-6 col-lg-7 text-center text-md-right ">
          
            <button type="button" class="btn btn-ripples btn-facebook btn-rounded m-2" data-toggle="tooltip" data-placement="top" title="Facebook">
              <i class="fab fa-facebook-f"></i>
            </button> 
            <button type="button" class="btn btn-ripples btn-youtube btn-rounded m-2" data-toggle="tooltip" data-placement="top" title="Instagram">
              <i class="fab fa-instagram"></i>
            </button> 
            <button type="button" class="btn btn-ripples btn-twitter btn-rounded m-2" data-toggle="tooltip" data-placement="top" title="Twitter">
              <i class="fab fa-twitter"></i>
            </button>

        </div>
      </div>
    </div>
  </div>

  <!-- Footer Links -->
  <div class="bg-footer-md text-white">
    <div class="container  text-center text-md-left pt-4">

      <div class="row mt-3">

        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

          <!-- Content -->
          <h6 class="text-uppercase font-weight-bold">My Company</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>This company was created on 2018. On this enterprise we are 20 programmers and Lorem ipsum dolor sit, amet
            consectetur adipisicing elit. Voluptatibus, ipsa.</p>

        </div>

        <div class="col-md-4 mx-auto mb-4">
          <div class="row">
            <div class="col-6">
              <!-- Links -->
              <h6 class="text-uppercase font-weight-bold">Products</h6>
              <hr class=" mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              <p>
                <a href="#!">Web Services</a>
              </p>
              <p>
                <a href="#!">SEO</a>
              </p>
              <p>
                <a href="#!">Security Informatic</a>
              </p>
              <p>
                <a href="#!">Mobile Apps</a>
              </p>
            </div>
            <div class="col-6">
              <!-- Links -->
              <h6 class="text-uppercase font-weight-bold">Useful links</h6>
              <hr class=" mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              <p>
                <a href="#!">CSS libraries</a>
              </p>
              <p>
                <a href="#!">Materialize</a>
              </p>
              <p>
                <a href="#!">JS Libraries</a>
              </p>
              <p>
                <a href="#!">Angular</a>
              </p>
            </div>
          </div>


        </div>



        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Contact</h6>
          <hr class=" mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <i class="fas fa-home mr-3"></i> Jujuy, Necochea 227, Argentina</p>
          <p>
            <i class="fas fa-envelope mr-3"></i> santoskevin032@gmail.com</p>
          <p>
            <i class="fas fa-phone mr-3"></i> +54 9 3884321692</p>
          <p>
            <i class="fas fa-print mr-3"></i> +54 9 3881234692</p>

        </div>

      </div>
    </div>
  </div>

  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="bg-footer-down text-center py-3 text-white"> &copy; 2020 Copyright:
    <a href="https://mdbootstrap.com/" class="text-white"> Santos Kevin | Falcao</a>
  </div>
  <!-- Copyright -->

</footer>
