<section id="gallery" style="overflow-x: hidden;">
  <div class="sectionGallery">
    <h2 class="text-center mt-3">Gallery Demo</h2>
    <img src="../../../assets/images/image10.jpg" alt="cover page computer">
  </div>
</section>

<section id="" class="my-5" style="overflow-y: hidden;">
  <div class="container">
    <div class="row pt-5 pb-5">
      <div class="col-12">
        <h1 class="text-center title">Examples of Images</h1>
      </div>
    </div>

    <div class="row justify-content-center align-items-center">
      <div class="col-12 col-md-10 bg-dark container-clip">
        <div class="clip clip1">
          <div class="content">
            <h3>Fist Image</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio quibusdam ex incidunt error veniam,
              officia labore saepe neque totam veritatis numquam placeat, corrupti eum praesentium necessitatibus
              blanditiis recusandae ducimus autem!</p>
          </div>
        </div>
        <div class="clip clip2">
          <div class="content">
            <h3>Second Image</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio quibusdam ex incidunt error veniam,
              officia labore saepe neque totam veritatis numquam placeat, corrupti eum praesentium necessitatibus
              blanditiis recusandae ducimus autem!</p>
          </div>
        </div>
        <div class="clip clip3">
          <div class="content">
            <h3>Third Image</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio quibusdam ex incidunt error veniam,
              officia labore saepe neque totam veritatis numquam placeat, corrupti eum praesentium necessitatibus
              blanditiis recusandae ducimus autem!</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<!--Section hover on devices-->

<section id="devices" class="my-5 bg-gray" style="overflow: hidden;">
  <div class="">
    <div class="row pt-5 ">
      <div class="col-12">
        <h1 class="text-center title">Watch responsive design</h1>
      </div>
    </div>

    <div class="row d-block d-md-none">
      <div class="col-12">
        <h3 class="text-center">Here is a content but your screen is small so if you have to watch put the desktop version or open the website in your computer...</h3>
      </div>
    </div>

    <div class="row d-none d-md-block">
      <div class="col-12 container-responsive">
        <div class="mac">
          <img src="../../../assets/images/responsive/mac.png" alt="">
          <div class="imgBx"></div>
        </div>

        <div class="macBook">
          <img src="../../../assets/images/responsive/macbook.png" alt="">
          <div class="imgBx"></div>
        </div>

        <div class="iphone">
          <img src="../../../assets/images/responsive/iphone.png" alt="">
          <div class="imgBx"></div>
        </div>
      </div>
    </div>

  </div>
</section>

<!--section hover imgs-->

<section id="hoverImgs" style="overflow: hidden;">
  <div class="container">
    <div class="row pt-5 pb-5 ">
      <div class="col-12">
        <h1 class="text-center title">Hover Images</h1>
      </div>
    </div>

    <div class="row justify-content-center align-items-center">
      <div class="col-12 col-md-6 col-lg-6">
        <figure class="c4-izmir c4-border-bottom-left c4-image-rotate-right c4-gradient-bottom-right" tabindex="0"
          style="--primary-color: #8f0f01; --secondary-color: #4e4e4e; --image-opacity: .1;">
          <img src="../../../assets/images/image4.jpg" class="img-fluid" alt="Sample Image">
          <figcaption class="c4-layout-bottom-left">
            <div class="c4-rotate-up-right c4-delay-100">
              <h3>
                Creative Control
              </h3>
            </div>
            <div class="c4-reveal-left c4-delay-200">
              <h3>
                Sample Text
              </h3>
            </div>
            <div class="c4-reveal-right c4-delay-400">
              <h3>
                Sample Text
              </h3>
            </div>
          </figcaption>
        </figure>
      </div>

      <div class="col-12 col-md-6 col-lg-6">
        <figure class="c4-izmir c4-border-bottom-left c4-image-rotate-right c4-gradient-bottom-right" tabindex="0"
        style="--primary-color: #8f0f01; --secondary-color: #4e4e4e; --image-opacity: .1;">
          <img src="../../../assets/images/image10.jpg" class="img-fluid" alt="Sample Image">
          <figcaption class="c4-layout-bottom-left">
            <div class="c4-rotate-up-right c4-delay-100">
              <h3>
                Creative Control
              </h3>
            </div>
            <div class="c4-reveal-left c4-delay-200">
              <h3>
                Sample Text
              </h3>
            </div>
            <div class="c4-reveal-right c4-delay-400">
              <h3>
                Sample Text
              </h3>
            </div>
          </figcaption>
        </figure>
      </div>

      <div class="col-12 col-md-6 col-lg-6">
        <figure class="c4-izmir c4-border-bottom-left c4-image-rotate-right c4-gradient-bottom-right" tabindex="0"
        style="--primary-color: #8f0f01; --secondary-color: #4e4e4e; --image-opacity: .1;">
          <img src="../../../assets/images/image11.jpg" class="img-fluid" alt="Sample Image">
          <figcaption class="c4-layout-bottom-left">
            <div class="c4-rotate-up-right c4-delay-100">
              <h3>
                Creative Control
              </h3>
            </div>
          </figcaption>
        </figure>
      </div>

      <div class="col-12 col-md-6 col-lg-6">
        <figure class="c4-izmir c4-border-bottom-left c4-image-rotate-right c4-gradient-bottom-right" tabindex="0"
        style="--primary-color: #8f0f01; --secondary-color: #4e4e4e; --image-opacity: .1;">
          <img src="../../../assets/images/image4.jpg" class="img-fluid" alt="Sample Image">
          <figcaption class="c4-layout-bottom-left">
            <div class="c4-rotate-up-right c4-delay-100">
              <h3>
                Creative Control
              </h3>
            </div>
          </figcaption>
        </figure>
      </div>

    </div>

  </div>
</section>


<section id="big-hover" class="my-5 bg-gray" style="overflow: hidden;">
  
  <div class="row pt-5 pb-5">
    <div class="col-12">
      <h1 class="text-center title">Block Fall</h1>
    </div>
  </div>

  <div class="container-big">
    <div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
		<div class="fall"></div>
	</div>
</section>