<section id="ratting" >
    <div class="container mt-5 pb-5">
        <div class="row mt-5 mb-3">
            <h1 class="col-12 text-center title">Would u like rate this page?</h1>
          </div>
        <div class="row py-5">
            <div class="col-12 d-flex justify-content-center align-items-center">
                <div class="rating">
                    <input type="radio" name="star" id="star1">
                    <label for="star1">
                        <img class="img-fluid" src="../../../assets/images/rates/in-love.png" alt="flaticon emojis pack icons">
                        <h4 class="text-danger py-3">Loved it</h4>
                    </label>
            
                    <input type="radio" name="star" id="star2" checked>
                    <label for="star2">
                        <img class="img-fluid" src="../../../assets/images/rates/cool.png" alt="flaticon emojis pack icons">
                        <h4 class="text-danger py-3">Awesome</h4>
                    </label>
            
                    <input type="radio" name="star" id="star3">
                    <label for="star3">
                        <img class="img-fluid" src="../../../assets/images/rates/vomiting.png" alt="flaticon emojis pack icons">
                        <h4 class="text-danger py-3">Dislike</h4>
                    </label>
            
                    <input type="radio" name="star" id="star4">
                    <label for="star4">
                        <img class="img-fluid" src="../../../assets/images/rates/hypnotized.png" alt="flaticon emojis pack icons">
                        <h4 class="text-danger py-3">Hypnotized</h4>
                    </label>
                </div>
            </div>
            
        </div>
    </div>
</section>
<section id="rate" class="section my-5">
   
</section>