<!--Image Home-->

<section class="box-image">

  <particles id="particle-js" [width]="width" [height]="height" [style]="myStyle" [params]="myParams">
  </particles>

  <div class="welcome">
    <h1 class="h1 animate__animated animate__flipInY">Welcome to this web page</h1>

    <p class="h5">U can interact with the circles</p>
    <a id="down" fragment="services" (click)="navigateToSection('services')" class="btn btn-home btn-ripples">See Down</a>
  </div>

  <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
      style="height: 100%; width: 100%;">
      <path d="M-3.35,35.03 C149.99,150.00 375.00,-13.31 513.42,64.63 L515.10,173.19 L0.00,150.00 Z"
        style="stroke: none; fill: #fff;"></path>
    </svg></div>

</section>


<!--<div class="img-header">

    <div class="welcome ">
        <h1 class="animate__animated animate__flipInY">Welcome to this web page</h1>
        
        <hr>
        <p>Web Design since 2019</p>
        <button id="down">See Down</button>
    </div>
    <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-3.35,35.03 C149.99,150.00 375.00,-13.31 513.42,64.63 L515.10,173.19 L0.00,150.00 Z" style="stroke: none; fill: rgb(253, 253, 253);"></path></svg></div>

</div>-->

<!--About me-->
<section id="aboutMe" class="container" style="overflow-x: hidden">

  <div class="row mb-5">
    <h1 class="col-12 text-center title">About Me</h1>
  </div>
  <article class="row " data-aos="fade-down-right" data-aos-duration="1000">
    <div class="col-12 col-md-5 mb-sm-3">
      <img src="../../../assets/images/aboutMe2.svg" class="img-fluid" alt="start to program">
    </div>
    <div class="col-12 col-md-7 align-self-center">
      <p class="h5">On 2018 I started with the programming, I didnt have idea about what is programming before
        that date, but I finished loving it. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi rem
        molestias eius mollitia aspernatur ipsam a impedit, facere enim quam?

      </p>
    </div>
  </article>

  <article class="row " data-aos="fade-down-left" data-aos-duration="1000">
    <div class="col-12 col-md-7 align-self-center mb-sm-3">
      <p class="h5">On 2018 I started with the programming, I didnt have idea about what is programming before
        that date, but I finished loving it. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi rem
        molestias eius mollitia aspernatur ipsam a impedit, facere enim quam?
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor, dolorum.
      </p>
    </div>
    <div class="col-12 col-md-5">
      <img src="../../../assets/images/aboutMe1.svg" class="img-fluid" alt="walking with code">
    </div>
  </article>

</section>


<!--My services-->
<section id="services" class="bg-gray pb-5" style="overflow-x: hidden">
  <div class="container">
    
    <div class="row mb-5 pt-5 mt-4">
      <h1 class="col-12 text-center title">My New Services</h1>
    </div>

    <div class="row justify-content-center align-items-center">
      
      <div class="col-12 col-lg-5 mb-2 mr-lg-5" data-aos="fade-right" data-aos-duration="1200" data-aos-offset="200">
        <div class="card card-pers" >
          <div class="imgBxCard1" data-text="SEO">
            <img src="../../../assets/images/services/new-service-seo.svg" alt="seo" class="img-fluid card-img-top">
          </div>
          <div class="card-body ">
            <div class="text-center">
              <h3 class="font-weight-bold">SEO</h3>
              <p class="pl-lg-5 ml-lg-2"> Would you like your page can be positioned on the fisrts places of searches? Well my team can do the best things to positionate your web site on the firsts places. So come on try it with us.</p>
              <a class="btn btn-home-short  btn-ripples">Read More <i class="fas fa-plus-circle ml-2"></i> </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-5 mb-2 " data-aos="fade-left" data-aos-duration="1200" data-aos-offset="200">
        <div class="card card-pers">
          <div class="imgBxCard2" data-text="Security">
            <img src="../../../assets/images/services/new-service-security.svg" alt="seo" 
            class="img-fluid card-img-top">

          </div>
          <div class="card-body text-center">
            <div>
              <h3 class="font-weight-bold">Security</h3>
              <p class="pl-lg-5 ml-lg-2">Protect your web site of hackers, your data is most important that your company has. So you need obligatorily save your data against hackers or persons with bad intentions!</p>
              <a class="btn btn-home-short  btn-ripples">Read More <i class="fas fa-plus-circle ml-2"></i> </a>
  
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-5 mb-2 mr-lg-5" data-aos="fade-right" data-aos-duration="1200" data-aos-offset="200">
        <div class="card card-pers">
          <div class="imgBxCard1" data-text="Web Design">
            <img src="../../../assets/images/services/new-service-web.svg" alt="web design"
            class="img-fluid card-img-top">

          </div>
          <div class="card-body text-center">
            <div>
              <h3 class="font-weight-bold">Web Design</h3>
              <p class="pl-lg-5 ml-lg-2">Would you like have your own web page fully customizated? That would be great. We can customize every thing that you wanna, special treat for our clients on the process to design their web site. Try with us.</p>
              <a class="btn btn-home-short  btn-ripples">Read More <i class="fas fa-plus-circle ml-2"></i> </a>
  
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-5 mb-2" data-aos="fade-left" data-aos-duration="1200" data-aos-offset="200">
        <div class="card card-pers">
          <div class="imgBxCard2" data-text="Mobile">
            <img src="../../../assets/images/services/new-service-mobile.svg" alt="mobile" class="img-fluid card-img-top">
          </div>
          <div class="card-body text-center">
            <div>
              <h3 class="font-weight-bold">Mobile</h3>
              <p class="pl-lg-5 ml-lg-2">My team too is specialized on the mobile design, so if you have a website and you wanna to have the mobile version as well, we can do that, put the app on the stores, app store and play store. Lorem ipsum dolor sit amet. </p>
              <a class="btn btn-home-short  btn-ripples">Read More <i class="fas fa-plus-circle ml-2"></i> </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>
<!--
<section id="services" class="bg-gray pb-5">
  <div class="container">

    <div class="row mb-5 pt-5 mt-4">
      <h1 class="col-12 text-center title">My Services</h1>
    </div>


    <div class="row service-content ">
      <div class="col-12 col-md-4 mb-2" data-aos="flip-right" data-aos-duration="1200" data-aos-offset="300">
        <div class="card service-ind">
          <img src="../../../assets/images/serviceSeo1.svg" alt="seo" style="width: 80%; margin:auto"
            class="img-fluid card-img-top">
          <div class="card-body text-center">
            <h3 class="">SEO</h3>
            <p>Would you like your page can be positioned on the fisrts places of searches?</p>
            <a class="btn btn-home-short  btn-ripples">Read More <i class="fas fa-plus-circle ml-2"></i> </a>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4 mb-2" data-aos="flip-left" data-aos-duration="1200" data-aos-offset="300">
        <div class="card service-ind ">
          <img src="../../../assets/images/serviceHacker.svg" alt="seo" style="width: 80%; margin:auto"
            class="img-fluid card-img-top">
          <div class="card-body text-center">
            <h3 class="card-title text-center">Informatic Security</h3>
            <p class="card-text">Protect your web site of hackers, your data is most important that your company has.
            </p>
            <a href="#" class="btn btn-home-short btn-ripples">Read More <i class="fas fa-plus-circle ml-2"></i> </a>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4 mb-2" data-aos="flip-left" data-aos-duration="1200" data-aos-offset="300">
        <div class="card service-ind ">
          <img src="../../../assets/images/serviceWeb.svg" alt="seo" style="width: 80%; margin:auto"
            class="img-fluid card-img-top">
          <div class="card-body text-center">
            <h3 class="text-center">Web Design</h3>
            <p>Would you like have your own web page fully customizated? That would be great.</p>
            <a href="#" class="btn btn-home-short btn-ripples">Read More <i class="fas fa-plus-circle ml-2"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>-->

<!--Portfolio-->
<section id="portfolio">
  <div class="container pb-5">
    <div class="row pt-5 pb-5">
      <div class="col-12">
        <h1 class="text-center title">Examples of my Projects</h1>
      </div>
    </div>
  
    <div class="row">
      <div class="col-12">
        <div  class="swiper-container" [swiper]="config" [index]="1">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img class="img-fluid" src="../../../assets/images/web1-1-min.png" alt="html css web">
            </div>
            <div class="swiper-slide">
              <img class="img-fluid" src="../../../assets/images/web1-2-min.png" alt="html css web">
            </div>
            <div class="swiper-slide">
              <img class="img-fluid" src="../../../assets/images/web2-1-min.png" alt="html css web with js">
            </div>
            <div class="swiper-slide">
              <img class="img-fluid" src="../../../assets/images/web3-1-min.png" alt="html css web with much js">
            </div>
            <div class="swiper-slide">
              <img class="img-fluid" src="../../../assets/images/web4-1-min.png" alt="materialize web">
            </div>
            <div class="swiper-slide">
              <img class="img-fluid" src="../../../assets/images/web4-2-min.png" alt="materialize web">
            </div>
          </div>
         
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
  </div>
</section>


<!--Testimonies-->
<app-testimony></app-testimony>


<!--My team-->
<app-myteam></app-myteam>

<!--Rate-->
<app-ratting></app-ratting>